:root {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color: #ffffff;
  --color-primary:#212529;
  --red:#dc3545;
  --gray:#333232;

}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  color: var(--color-primary);
  font-size: calc(1000vw / 1920);
  scroll-behavior: smooth;
}


.action-btn{
        background-color: var(--red);
        border: none;
        color: white;
        padding: 2rem 5rem;
        font-size: 2rem;
        border-radius: 5rem;
        cursor: pointer;
        font-weight: 600;
        font-family: inherit;
        transition: all .3s ease;

        &:hover{
          background-color: #C40001;
        }
    }

#app{
  overflow-x: hidden;
}